In [ ]:
%pip install pandas matplotlib

In [3]:
%pip list | grep pandas

pandas                  3.0.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import os

In [ ]:
%pip install duckdb jupysql duckdb-engine

In [6]:
%load_ext sql
%sql duckdb:///:memory:

Connecting to 'duckdb:///:memory:'

In [2]:
path_to_dataset = '../data/raw/faang_stock_prices.csv'

if not os.path.isfile(path_to_dataset):
    print('fail')
else:
    df = pd.read_csv(path_to_dataset)

In [4]:
import duckdb

In [7]:
con = duckdb.connect(database=':memory:')

%sql con

In [8]:
%%sql

SELECT *
FROM
    df
ORDER BY
    RANDOM()
LIMIT 5;

Running query in 'DuckDBPyConnection'

+------------+--------+--------------------+--------------------+--------------------+--------------------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------+--------------------+--------------------+--------------------+---------------------+--------------------+--------------------+
|    Date    | Ticker |        Open        |        High        |        Low         |       Close        |   Volume  |       SMA_7        |       SMA_21       |       EMA_12       |       EMA_26       |       RSI_14       |         MACD        |    MACD_Signal     |  Bollinger_Upper   |  Bollinger_Lower   |     Daily_Return    |   Volatility_7d    |   Next_Day_Close   |
+------------+--------+--------------------+--------------------+--------------------+--------------------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------+--------------------+--------------------+--------------------+---------------------+--------------------+--------------------+
| 2023-02-16 |  NVDA  | 22.11086332203748  | 22.527446080733476 | 21.905069975862958 | 21.979995727539062 | 412026000 | 22.168092727661133 | 20.626827239990234 | 21.59271915325673  | 20.191831893245585 | 58.74000186338987  |  1.400887260011146  | 1.3934950013509506 |  23.7112678935562  | 17.930246121641556 | -0.0334738326195142 | 0.0343820607288659 | 21.366609573364254 |
| 2020-02-14 |  AAPL  | 78.53901899642953  | 78.83892050632156  | 78.08192253766144  | 78.58981323242188  |  80113600 | 78.17520904541016  | 77.06141698928107  | 77.63898108810488  | 76.06272387216023  | 62.79619503853407  |  1.5762572159446506 | 1.7027157056209283 |  79.7857867944062  | 74.43709757449027  |  0.0002463492583839 | 0.0127047782279978 |  77.1507797241211  |
| 2025-03-04 |  META  | 643.4809097831836  | 647.7075720071792  | 621.6896392388619  | 637.9882202148438  |  21495200 | 658.0421229771206  | 692.1123017810639  | 669.6967523542294  | 671.6716204635477  | 25.943590553832024 | -1.9748681093183225 | 7.957098526238941  | 749.2218647338054  |  634.687211193929  | -0.0229754274482913 | 0.0202037244993044 | 654.4064331054688  |
| 2023-04-03 | GOOGL  | 101.62217960116656 | 103.74613119426743 | 101.16563003717292 | 103.57740783691406 |  25035400 | 101.98656136648997 | 98.48114050002326  | 101.05541675515876 |  98.7380517649194  | 71.26485607491574  |  2.317364990239355  | 2.084813148160196  | 108.71392478492136 | 88.65480919335013  |  0.0060735247986514 | 0.0175368589801389 | 103.93470001220705 |
| 2017-01-05 |  MSFT  | 55.94845981889486  | 56.371290579338826 |  55.8045179434866  | 56.04742050170898  |  24876000 | 56.35457720075335  | 56.24833443051293  | 56.30679958386645  | 55.83393995082752  | 45.249912543860574 |  0.4728596330389365 | 0.6634278306191689 |  57.6711214033013  | 55.05705318776316  |         0.0         | 0.0058887692296927 |  56.5332145690918  |
+------------+--------+--------------------+--------------------+--------------------+--------------------+-----------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------------+--------------------+--------------------+--------------------+---------------------+--------------------+--------------------+

In [9]:
df.shape

(14964, 19)

In [10]:
df.columns

Index(['Date', 'Ticker', 'Open', 'High', 'Low', 'Close', 'Volume', 'SMA_7',
       'SMA_21', 'EMA_12', 'EMA_26', 'RSI_14', 'MACD', 'MACD_Signal',
       'Bollinger_Upper', 'Bollinger_Lower', 'Daily_Return', 'Volatility_7d',
       'Next_Day_Close'],
      dtype='str')

In [11]:
df.describe()

,Open,High,Low,Close,Volume,SMA_7,SMA_21,EMA_12,EMA_26,RSI_14,MACD,MACD_Signal,Bollinger_Upper,Bollinger_Lower,Daily_Return,Volatility_7d,Next_Day_Close
count,14964.000000,14964.000000,14964.000000,14964.000000,1.496400e+04,14964.000000,14964.000000,14964.000000,14964.000000,14964.000000,14964.000000,14964.000000,14964.000000,14964.000000,14964.000000,14964.000000,14964.000000
mean,147.969959,149.643762,146.256716,147.999839,1.186247e+08,147.631588,146.746646,147.314335,146.428158,55.686976,0.886176,0.888239,156.048174,137.572513,0.001335,0.018537,148.126287
std,132.599874,134.001750,131.065146,132.547711,1.889461e+08,132.261571,131.557653,131.956650,131.170115,16.597436,4.177106,3.932864,139.825874,123.751294,0.022069,0.012431,132.632577
min,0.762756,0.777392,0.746413,0.767738,4.726100e+06,0.710800,0.683503,0.704268,0.691066,3.180003,-33.155902,-30.727270,0.780719,0.569458,-0.263901,0.001171,0.767738
25%,50.094322,50.468777,49.669161,50.083026,2.428050e+07,49.906533,49.334041,49.600781,49.146090,43.754097,-0.331123,-0.283075,51.982837,47.077112,-0.008375,0.010449,50.149251
50%,123.841343,125.102966,122.262753,123.922924,4.432600e+07,123.301276,122.667958,123.067546,122.222704,56.381405,0.507975,0.491224,131.496224,114.337861,0.001286,0.015466,124.013718
75%,189.299623,191.429458,186.986899,189.079613,1.057329e+08,188.811102,187.325549,187.740894,186.739774,67.819077,2.160937,2.068120,199.721259,176.264492,0.011626,0.022748,189.254452
max,789.972167,795.064526,779.657506,788.823792,3.692928e+09,775.982954,762.484980,766.193137,757.613109,100.000000,29.441884,26.790650,813.954233,734.580075,0.298067,0.120255,788.823792

In [12]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 14964 entries, 0 to 14963
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             14964 non-null  str
 1   Ticker           14964 non-null  str
 2   Open             14964 non-null  float64
 3   High             14964 non-null  float64
 4   Low              14964 non-null  float64
 5   Close            14964 non-null  float64
 6   Volume           14964 non-null  int64
 7   SMA_7            14964 non-null  float64
 8   SMA_21           14964 non-null  float64
 9   EMA_12           14964 non-null  float64
 10  EMA_26           14964 non-null  float64
 11  RSI_14           14964 non-null  float64
 12  MACD             14964 non-null  float64
 13  MACD_Signal      14964 non-null  float64
 14  Bollinger_Upper  14964 non-null  float64
 15  Bollinger_Lower  14964 non-null  float64
 16  Daily_Return     14964 non-null  float64
 17  Volatility_7d    14964 non-null  float64
 18  Next_Day_Close   14964 non-null  float64
dtypes: float64(16), int64(1), str(2)
memory usage: 2.2 MB